venv/
.env
env/
.vscode/
.idea/
.Database/*
__pycache__
AAU-BUILD-sensor.actuator
db_extraction/db_analysis/db_analysis_output
db_extraction/db_analysis/graphs
thermodynamics_modeling/data_fragmentation/out
thermodynamics_modeling/neural_ode/out 
thermodynamics_modeling/neural_ode/outputs
do_MPC/results
libtorch/
*.zip
cpp_controller/
